.taskGridHeader {
    font-weight: 700;
}
#taskGrid p {
    margin: 0;
    padding: 0;
}

.navbar i {
    display: block;
    color: green;
    font-size: 50px;
}

.navbar a {
    font-size: 20px;
}

.navbar a:hover{
    text-decoration: underline;
    text-decoration-color:green;
    text-decoration-thickness: 4px;
  }